@font-face {
    font-family: "Axiforma";
    src: local("Axiforma Thin"), local("Axiforma-Thin"),
        url("/Axiforma-Thin.woff2") format("woff2"),
        url("/Axiforma-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Axiforma";
    src: local("Axiforma Medium"), local("Axiforma-Medium"),
        url("/Axiforma-Medium.woff2") format("woff2"),
        url("/Axiforma-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Axiforma";
    src: local("Axiforma Black"), local("Axiforma-Black"),
        url("/Axiforma-Black.woff2") format("woff2"),
        url("/Axiforma-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Axiforma";
    src: local("Axiforma Light"), local("Axiforma-Light"),
        url("/Axiforma-Light.woff2") format("woff2"),
        url("/Axiforma-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Axiforma";
    src: local("Axiforma SemiBold"), local("Axiforma-SemiBold"),
        url("/Axiforma-SemiBold.woff2") format("woff2"),
        url("/Axiforma-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Axiforma";
    src: local("Axiforma Regular"), local("Axiforma-Regular"),
        url("/Axiforma-Regular.woff2") format("woff2"),
        url("/Axiforma-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}



